@media screen and (max-width:960px) {

    section#content .brand .card .card-img-overlay {
        font-size: 14px;
        line-height: 1.5rem;
    }



}

@media screen and (max-width:767px) {

    section#content .brand>.card img {
        height: 40vw;
        width: 40vw;
    }

    section#content .brand .card .card-img-overlay {
        height: 40vw;
    }

    section#content .brand .card .hot>.card img {
        height: 15vw;
        width: 15vw;
    }

    section#content .product .card .card-title {
        font-size: 16px;
    }

    section#content .product .card .card-text {
        margin: 1rem auto;
    }

    section#content .product img {
        height: 25vw;
    }

}

@media screen and (max-width:420px) {


    header .logo .col-md-2 a {
        font-size: 1rem;
    }

    header .nav {
        font-size: 0.8rem;
    }

    section#content .brand .card .card-img-overlay {
        font-size: 10px;
        line-height: 1.25rem;
    }

}