@media screen and (max-width:1600px) {

    section#content .product .card .img-container {
        width: 175px;
        height: 175px;
    }

}

@media screen and (max-width:1400px) {

    section#content .product .card .img-container {
        width: 150px;
        height: 150px;
    }

}

@media screen and (max-width:960px) {

    section#content .brand .card .card-img-overlay {
        font-size: 14px;
        line-height: 1.5rem;
    }

    section#content .imgbar .img-container {
        height: 45vh;
        margin: 0.75rem;
    }

    section#content .imgbar ul li {
        margin: 1rem 0.5rem 0 0.5rem;
        font-size: 0.8rem;
    }

    section#content .product .card .img-container {
        width: 120px;
        height: 120px;
    }


}


@media screen and (max-width:767px) {

    section#content .brand>.card img {
        height: 40vw;
        width: 40vw;
    }

    section#content .brand .card .card-img-overlay {
        height: 40vw;
    }

    section#content .brand .card .hot>.card img {
        height: 15vw;
        width: 15vw;
    }

    section#content .imgbar .img-container {
        height: 35vh;
        margin: 0.5rem;
    }

    section#content .imgbar ul li {
        margin: 1rem 0.5rem 0 0.5rem;
        font-size: 0.8rem;
    }

    section#content .product .card .img-container {
        width: 175px;
        height: 175px;
    }

    section#content .goods .card .productImg img#showGoods {
        width: 350px;
        height: 350px;
    }

    section#content .goods .card .productImg a img {
        width: 60px;
        height: 60px;
    }

    section#content .goods .card .productInfo {
        max-width: 450px;
    }

}


@media screen and (max-width:420px) {


    header .logo {
        font-size: 3rem;
    }

    header .nav {
        font-size: 0.8rem;
    }

    section#content .brand .card .card-img-overlay {
        font-size: 10px;
        line-height: 1.25rem;
    }

    section#content .imgbar {
        padding: 3rem 0 1rem 0;
    }

    section#content .imgbar .img-container {
        height: 30vh;
        width: 15vw;
    }

    section#content .product .card img {
        height: 30vw;
    }

    section#content .goods .card .productImg img#showGoods {
        width: 300px;
        height: 300px;
    }

    section#content .goods .card .productImg a img {
        width: 50px;
        height: 50px;
    }

    section#content .goods .card .productInfo {
        max-width: 420px;
    }

    section#content .goods .card .productInfo img {
        width: 50px;
        height: 50px;
        border-bottom-left-radius: 10px;
    }

}