* {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
}


header {
    height: 22.5vh;
    background-color: #fff;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

header .logo {
    height: 15vh;
}

header .logo .col-md-4 {
    /* border: 1px solid black; */
    box-sizing: border-box;
    line-height: 15vh;
}

header .logo .col-md-4 a {
    text-decoration: none;
    color: #4a1709;
}

header .logo .col-md-2 {
    /* border: 1px solid black; */
    box-sizing: border-box;
    padding-top: 1rem;
}

header .logo .col-md-2 a {
    font-size: 1rem;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

header .logo .col-md-2 i {
    margin-right: 1rem;
}

header .nav {
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-size: 1rem;
}

section#content {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

section#content .carousel {
    height: 75vh;
    margin: 25vh auto 5vh;
}

section#content .carousel-item img {
    height: 75vh;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

section#content .brand-start {
    /* border: 1px solid black; */
    padding: 1rem;
    margin: 1rem auto;
}

section#content .brand {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

section#content .brand.row>.card {
    /* height: 40vw; */
    background-color: #fff !important;
    border: none;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 1rem auto;
}

section#content .brand.row>.card img {
    height: 25vw;
    width: 25vw;
    /* border: 1px solid black; */
    box-sizing: border-box;
    border-radius: 10%;
    margin-left: -0.8rem;
}

section#content .brand.row .card .card-img-overlay {
    height: 25vw;
    background-color: rgba(255, 255, 255, 0%);
    /* border: 1px solid black; */
    box-sizing: border-box;
    color: black;
    writing-mode: vertical-rl;
    text-shadow: 1px 1px 1px white;

    font-size: 16px;
    line-height: 2rem;
}

section#content .brand.row .card .card-img-overlay a {
    text-decoration: none;
    color: black;
}

section#content .brand.row .card .hot {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

section#content .brand.row .card .hot>.card {
    border: none;
}

section#content .brand.row .card .hot>.card img {
    height: 8vw;
    width: 8vw;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin-left: 0.1rem;
}

section#content .product-start {
    /* border: 1px solid black; */
    padding: 1rem;
    margin: 1rem auto;
}

section#content .product.row .card {
    align-content: center;
    border: none;
    padding: 1rem 2rem;
}

section#content .product.row .card a {
    color: black;
    text-decoration: none;
}

section#content .product.row .card h5.card-title {
    font-size: 18px;
}

section#content .product.row .card p {
    font-size: 14px;
}

footer {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin-top: 1.5rem;
}

footer .contact-start {
    /* border: 1px solid black; */
    padding: 1rem;
    margin: 1rem auto;
}

footer .logo {
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-size: 3.5vw;
    line-height: 15vh;
}

footer .logo a {
    text-decoration: none;
    color: #4a1709;
}