body {
    font-family: "LXGW WenKai TC", cursive;
    font-weight: 400;
    font-style: normal;
}


header {
    background-color: #fff;
    /* border: 1px solid black; */
    box-sizing: border-box;
}

header .logo {
    font-size: 4rem;
    font-family: "Tangerine", cursive;
}

header a {
    text-decoration: none;
    color: black;
}

header .font {
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-size: 1.25rem;
}

header .nav {
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-size: 1rem;
}

header .nav li.nav-item {
    padding: 0 1rem;
}

header .search {
    /* border: 1px solid black; */
    align-content: center;

}

section#content {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

section#content .carousel {
    /* height: 75vh; */
    margin: 20vh auto 5vh;
}

section#content .carousel-item img {
    /* height: 75vh; */
    /* object-fit: cover;
    object-position: center center; */
    /* border: 1px solid black; */
    box-sizing: border-box;
}

section#content .brand-start {
    /* border: 1px solid black; */
    padding: 1rem;
    margin: 1rem auto 2rem;
}

section#content .brand {
    /* border: 1px solid black; */
    box-sizing: border-box;
}

section#content .brand.row>.card {
    /* height: 40vw; */
    background-color: #fff !important;
    border: none;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin: 1rem auto;
}

section#content .brand.row>.card img {
    height: 20vw;
    width: 20vw;
    /* border: 1px solid black; */
    box-sizing: border-box;
    border-radius: 10%;
    margin-left: -0.8rem;
}

section#content .brand.row .card .card-img-overlay {
    height: 20vw;
    background-color: rgba(255, 255, 255, 0%);
    /* border: 1px solid black; */
    box-sizing: border-box;
    color: black;
    writing-mode: vertical-rl;
    text-shadow: 1px 1px 1px white;
    font-size: 16px;
    line-height: 2rem;
}

section#content .brand.row .card .card-img-overlay a {
    text-decoration: none;
    color: black;
}

section#content .brand.row .card .hot-start {
    padding-left: 1rem;
    margin-top: 2rem;
    font-size: 1.2rem;
}

section#content .brand.row .card .hot {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

section#content .brand.row .card .hot>.card {
    border: none;
}

section#content .brand.row .card .hot>.card img {
    height: 8vw;
    width: 8vw;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin-left: 0.1rem;
}

section#content .product-start {
    /* border: 1px solid black; */
    padding: 1rem;
    margin: 1rem auto 2rem;
}

section#content .product.row .card {
    align-self: baseline;
    border: none;
    padding: 1rem 2rem;
}

section#content .product.row img {
    border-radius: 5%;
}

section#content .row.product .card h5.card-title {
    font-size: 16px;
}

section#content .product.row .card .btn {
    border: 1px solid black;
    border-color: black;
    font-size: 14px;
}

footer {
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin-top: 1.5rem;
}



footer .contact-start {
    /* border: 1px solid black; */
    padding: 1rem;
    margin: 1rem auto;
}

footer .logo {
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-size: 3.5vw;
    line-height: 15vh;
    font-family: "Tangerine", cursive;
}

footer .logo a {
    text-decoration: none;
    color: #4a1709;
}